* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.panelHeader {  
  width: 100%;
  min-height: 5vh;
}

#projectCarousel {
  height: 100%;
}

.carousel-item {
  height: 60vh;
}

.resume-block {
  height: 90vh;
  min-height: 600px;
}