*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--theme-cl-1);
    color: var(--theme-text-cl-1);
    display: flex;
    flex-direction: column;

}

.mainbut {
    display: flex;
    align-items: center;
    position: relative;
}

a.drop-button{
    color: var(--theme-cl-2);
    font-size: 20px;
    flex: 1;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

a.mod-button {
    color: var(--theme-cl-1);
    background-color: transparent;
    font-size: 18px;
    flex: 1;
    text-decoration: none;
    cursor: pointer;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: var(--theme-cl-1);
    width: 100%;
    padding: 10px;
    text-decoration: none;
    display: block;
    background-color: var(--theme-cl-3);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color:var(--theme-cl-1);
    color: var(--theme-cl-3);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.panel
{
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
  height: 93vh;
  width: 100vw;
  margin:0;
  padding:0;
  background-image: linear-gradient(90deg, #ffb170, #ff76d5);
  font-family: Helvetica;
}

.bench-panel {
    width: 100%;
    margin-left: 5vw;
}



