:root {
  --space-cadet: hsla(240, 17%, 25%, 1);
  --manatee: hsla(240, 4%, 62%, 1);
  --selective-yellow: hsla(43, 100%, 52%, 1);
  --venetian-red: hsla(354, 99%, 38%, 1);
  --tea-green: hsla(119, 100%, 90%, 1);
  --theme-cl-1: #505050;
  --theme-cl-2: #e9b832;
  --theme-cl-3: #CCD5E0;
  --theme-cl-3op: #ccd5e09f;
  --theme-cl-4: #354B66;
  --theme-cl-5: #9BA2AB;
  --theme-cl-6: rgb(57, 59, 69);
  --theme-cl-7: rgb(37, 39, 49);
  --flame: #EE5622;
  --gainsboro: #E0E0E2;
  --hookers-green: #4e796c;
  
}

* {
  font-family: 'Turret Road', cursive;
}

  /* topbar styles */
.topbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 7vh;
  width: 100%;
  background-color: var(--theme-cl-7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.topbar-holder {
  flex-shrink: 0;
  height: 7%;
  width: 100%;
}

.topbar-brand {
  color: white;
  font-size: 2.2vh;
  margin-left: 2vw;
  display: flex;
  pointer-events: none;
}

.topbar-logo {
  color: white;
}

.topbar-right {
  margin-right: 1vw;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.topbar-links {
  display: flex;
  flex-direction: row;
}

.topbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbar-pane {
  height: 100vh;
  width: 13vw;
  position: absolute;
  right: -13vw;
  top: 7vh;
  background-color:  rgba(37, 39, 49, 0.96);
  padding: 2.5vh 0.9vw;
  transition: 0.7s ease-in-out all;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 3px 0px 3px rgba(90, 90, 90, 0.3) inset;
}

.topbar-pane-show {
  transform: translateX(-13vw);
}

.topbar-pane-links {
  font-size: 1.4vh;
  color: var(--flame);
  padding: 2vh 0.5vw;
  border-bottom: 1px solid rgba(115, 115, 115, 0.4);
  opacity: 1;
}

.topbar-pane-links:hover {
  transition: 0.7s ease all;
  color: var(--selective-yellow);
  background-color: var(--flame);
  text-decoration: none;
}

.menu {
  width: 3vh;
}

.topbar-item {
  font-size: 1.6vh;
  padding: 2.15vh 1vw;
  height: 100%;
  color: white;
  position: relative;
}

.topbar-item:hover {
  color: var(--selective-yellow);
  text-decoration: none;
}

.topbar-item-active {
  color: var(--selective-yellow);
}

.topbar-activator {
  position: absolute;
  top: 96%;
  right: 0%;
  width: 100%;
  height: 0.5vh;
  background-color: var(--selective-yellow);
}