:root {
    --theme-cl-1: #585C61;
    --indigo-dye: hsla(209, 86%, 25%, 1);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.panelHeader {  
    width: 100%;
    min-height: 6vh;
  }
  
  #projectCarousel {
    height: 100%;
  }
  
  .carousel-item {
    width: 100%;
    background-color: var(--mcom-light);
  }
  
  .resume-block {
    height: 90vh;
    min-height: 600px;
  }

  .carousel-caption {
    background-color: var(--mcom-body-bg);
    opacity: 0.85;
    padding: 5px;
    border-radius: var(--mcom-border-radius);
    bottom: 5%;
  }

  .carousel-caption h1 {
    font-size: 1.3rem;
  }

  img {
    width: 100%;
    height: 100%;
  }