:root {
    --theme-cl-1: #585C61;
    --indigo-dye: hsla(209, 86%, 25%, 1);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.panelHeader {  
    width: 100%;
    min-height: 6vh;
  }

  .center-col {
    
  }

  .carousel {
    width: 90%;
  }

  .carousel-inner {
    width: 100%;
  }
    
  .carousel-item {
    width: 100%;
    max-height: 70vh;
    background-color: var(--mcom-light);
  }
  
  .resume-block {
    height: 90vh;
    min-height: 600px;
  }

  .carousel-caption {
    background-color: var(--mcom-body-bg);
    opacity: 0.85;
    padding: 5px;
    border-radius: var(--mcom-border-radius);
    bottom: 5%;
  }

  .carousel-caption h1 {
    font-size: 1.25rem;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .vid-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    padding-left: 6%;
    padding-right: 6%;
  }

  .slide-box {
    display: flex;
    justify-content: center;
  }

  .vid-background {
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    width: 100%;
  }