html {
    background: transparent;
}
body {
    position: relative;
    background: transparent;
}
.activityPanel {
    position: absolute;
    top: 7vh;
    height: 93vh;
    width: 35vw;
    background-color: coral;
}
.audioPanel {
    position: absolute;
    top: 7vh;
    left: 35vw;
    height: 50vh;
    width: 65vw;
    background-color: blueviolet;
}
.notePanel {
    position: absolute;
    top: 57vh;
    left: 35vw;
    height: 43vh;
    width: 65vw;
    background: transparent;
}
.monitoringPanel {
    height: 50%;
    width: 100%;
}
.activePanel {
    height: 50%;
    width: 100%;
}
.noteWindow {
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

/* audio panel styles */
.mainControls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--theme-cl-7);
}

.playbutton {
    width: 4vw;
    height: 4vw;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2vw;
    background-color: salmon;
}

@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One);


body{
  padding:0px;
  margin:0px;
  -webkit-font-smoothing: antialiased;
  text-align:center;
}

a {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color:#fff;
  text-decoration:none;
  display:block;
  margin:15px auto 0 auto;
  text-align:center;
}

.clock-wrap{
	width:50vw;
    font-family: 'Pathway Gothic One', sans-serif;
	height:16vw;
}

.min-wrap, .hour-wrap, .sec-wrap{
	width: 16vw;
	height: 16vw;
	
	float:left;
	position: relative;
}

.min-wrap, .sec-wrap{
	margin-left: 4px;
}


.digit-top, .digit-bottom{
	width:16vw;
	height:8vw;
	position: absolute;
}

.clock-wrap .front, .clock-wrap .back{
	width: 16vw;
	height: 8vw;
	position: absolute;
	overflow: hidden;
  background:#ffffff;
	color: green;
	text-align: center;
	font-size: 12vw;

	transition: transform 800ms, z-index 800ms;
	-moz-transition: -moz-transform 800ms, z-index 800ms;
	-webkit-transition: -webkit-transform 800ms, z-index 800ms;
	-o-transition: -o-transform 800ms, z-index 800ms;

	

	-webkit-transform-style: preserve-3d;
}

.clock-wrap .front{
	z-index: 30;
	

	transform-origin: 0px 8vw;
	-webkit-transform-origin: 0px 8vw;
	-moz-transform-origin: 0px 8vw;
	-o-transform-origin: 0px 8vw;

	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg); 
	-o-transform: rotateX(0deg); 
    backface-visibility: hidden;
}

.clock-wrap .back{
	z-index: 20;
	top:8vw;

	transform-origin: 0px 0;
	-webkit-transform-origin: 0px 0;
	-moz-transform-origin: 0px 0;
	-o-transform-origin: 0px 0;

	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg); 
	-o-transform: rotateX(180deg);
    backface-visibility: hidden;

    line-height:0;
}

.digit-top{
	line-height:16vw;
	top:0;
	z-index: 10;
}

.digit-bottom{
	top: 100px;
	line-height:0;
	z-index: 0;
    background:lighten( grey,20);
}


.hour-wrap:before, .min-wrap:before, .sec-wrap:before {
    content:"";
    background:#000000;
    opacity:0.04;
    position:absolute;
    width:16vw;
    height:8vw;
    top:0;
    left:0;
    z-index:9999;
}