*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--theme-cl-1);
    color: var(--theme-text-cl-1);
    display: flex;
    flex-direction: column;

}

.panel
{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:flex-start;
  height: 93vh;
  width: 100vw;
  margin:0;
  padding:0;
  background-color: var(--hunter-green);
  font-family: Helvetica;
}

.center-panel {
    width: 65%;
    height: 100%;
    overflow-y: scroll;
}

#blogBox {
    width: 100%;
}