// Variable overrides first
$primary: #F6AE2D;
$secondary: #334E58;

$light: #aca9a9;
$dark: #5c0808;
$danger: #400707;
$success: #BA1200;
$info: aqua; 

$body-bg: #193846;
$body-color: aliceblue;
$border-color: $primary;
$border-radius: 0.275rem;


$enable-shadows: true;
$prefix: "mcom-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

